extends ../layout/common

block content
	h1 Create user
	form(action='/users/create' method='POST')
		.form-group
			label.mr-3(for='name') Name:
			input#name.form-control.mr-3(type='text' name='name')
		.form-group
			label.mr-3(for='num') Phone Number:
			input#num.form-control.mr-3(type='text' name='phone') 
		button.btn.btn-primary Create
		//- click vào nút Create kích hoạt app.post('/users/create')
	include ../includes/foot