extends ../layout/common

block content
	h1 Users
	a.btn.btn-primary.mb-2(href='/users/create') New
	//- click vao đây kích hoạt dòng app.get(/users/create)
	form.form-inline(action='/users/search' method='GET')
		input.form-control.mr-3(type="text" name= "q" value= q )
		button.btn.btn-primary Search
		//- click vào nút search sẽ kích hoạt dòng app.get(/users/search)
	table.table
		thead
			th Index
			th Name
			th Phone number
			th Infomation
		tbody
			each user, index in users	
				tr
					td= index+1
					td= user.name
					td= user.phone 
					td
						a.btn.btn-primary(href= '/users/' + user.id ) View
			//- click vào đây thi vào app.get('/users/'user.id') hoặc vào rout parameters cái nào đứng trước thì vào trước
	include ../includes/foot		




